<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="{{ url_for('static',filename='Front_end/img/favicon-16x16.png') }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ url_for('static',filename='Front_end/img/favicon-32x32.png') }}" sizes="16x16" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport">
  <title>
    BuildingLife Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

  <!-- CSS Files -->
   <link href= "{{ url_for('static',filename='Front_end/Dashboard/assets/css/bootstrap.min.css') }}" rel= "stylesheet" >
   <link href= "{{ url_for('static',filename='Front_end/Dashboard/assets/css/paper-dashboard.css') }}" rel= "stylesheet" >
   <link href= "{{ url_for('static',filename='Front_end/Dashboard/assets/css/styleProgressBar.css') }}" rel= "stylesheet" >

  <!-- <link href= "{{ url_for('static',filename='Front_end/css/style.css') }}" rel= "stylesheet" > -->

   <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



   <!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->


</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->

	<!-- Logo at top (Profile picture) //-->
      <div class="logo mx-auto">
        <a class="sticky-logo" href="dashboard">
          <!-- <h1><span>Building</span><font color="#D8D8D8">Life</font></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <img style="width: 55%; height:50%; vertical-align: middle;" class="img-fluid mx-auto d-block" src="static/Front_end/img/Logo_Updated.png" alt="" title="">
        </a>
      </div>

	<!-- Sidebar items //-->
	 <div class="sidebar-wrapper" style="overflow: hidden">
        <ul class="nav">

          {% if url_for(request.endpoint) == "/dashboard" or dashboard_used == True %}
            <li class="active ">
          {% else %}
            <li>
          {% endif %}
            <a href="dashboard">
              <i class="nc-icon nc-bank"></i>
              <p style = "font-family: Nunito,sans-serif; font-weight: 400; font-size: 1rem">Single estimation</p>
            </a>
          </li>

          {% if url_for(request.endpoint) == "/history" %}
            <li class="active ">
          {% else %}
            <li>
          {% endif %}
            <a href="history">
              <i class="fa fa-history"></i>
              <p style = "font-family: Nunito,sans-serif; font-weight: 400; font-size: 1rem">History</p>
            </a>
          </li>

          {% if url_for(request.endpoint) == "/BuildingManagement" or url_for(request.endpoint) == "/parameters" or (url_for(request.endpoint) == "/building_management_estimation" and dashboard_used != True) %}
          <li class="active ">
          {% else %}
          <li>
          {% endif %}
            <a href="BuildingManagement">
              <i class="fa fa-building"></i>
              <p style = "font-family: Nunito,sans-serif; font-weight: 400; font-size: 1rem;">Building Management</p>
            </a>
          </li>

          {% if url_for(request.endpoint) == "/UserProfile" %}
          <li class="active ">
          {% else %}
          <li>
          {% endif %}
            <a href="UserProfile">
              <i class="nc-icon nc-single-02"></i>
              <p style = "font-family: Nunito,sans-serif; font-weight: 400; font-size: 1rem;">User Profile</p>
            </a>
          </li>
        </ul>
      </div>
    </div>



{% block content %}{% endblock %}



  <!--      Core JS Files   -->
  <script src="{{url_for('static', filename='Front_end/Dashboard/assets/js/core/jquery.min.js') }}"></script>
  <script src="{{url_for('static', filename='Front_end/Dashboard/assets/js/core/popper.min.js') }}"></script>
  <script src="{{url_for('static', filename='Front_end/Dashboard/assets/js/core/bootstrap.min.js') }}"></script>


  <!-- <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script> //-->
  <!--  Google Maps Plugin    -->
  <!-- Chart JS -->
  <script src="{{url_for('static', filename='Front_end/Dashboard/assets/js/plugins/chartjs.min.js') }}"></script>

  <!--  Notifications Plugin    -->
  <script src="{{url_for('static', filename='Front_end/Dashboard/assets/js/plugins/bootstrap-notify.js') }}"></script>

  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{{url_for('static', filename='Front_end/Dashboard/assets/js/paper-dashboard.min.js') }}"></script>

  <!-- <script src="../assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script> -->

</body>

</html>
