{% extends "base.html" %}

{% block content %}

    <script>
    document.getElementsByTagName("BODY")[0].onload = function addMaterials(){
      var i;
      var material_value_dict = {{material_value_dict | safe}}
      for (i = 0; i < {{  material_value_dict | length }}; i++) {
       var divToAppend = document.getElementById("material_estim_body");

       var upperdiv = document.createElement("div")
       upperdiv.className = "col-md-12"
       upperdiv.style = "padding-right: 0pt; padding-left: 0pt"
       var carddiv  = document.createElement("div")
       carddiv.className = "card"
       carddiv.style     = "margin-bottom:4px; margin-top: 4px"

       var card_header = document.createElement("div")
       card_header.className = "card-header"
       card_header.innerHTML = "<h6>" + material_value_dict[i]["Name"] + "</h6>"

       var card_body = document.createElement("div")
       card_body.className = "card-body"
       card_body.style     = "margin-bottom: 0px; margin-top: 0px; padding: 5px 15px 10px 15px"
       card_body.innerHTML = "<div class='row' style='margin-top:0px'>"	+
                              "<div class='p-3 col-md-3' style='background-color: #e3e3e3; color: #66615B'>Estimated Quantity</div>" +
                              "<div class='p-3 bg-light text-dark rounded col-md-3'>" + "{:,}".format(material_value_dict[i]["Quantity"]) + "kg/m<sup>2</sup>" + "</div>" +
                              "<div class='p-3 col-md-3' style='background-color: #e3e3e3; color: #66615B'>Estimated Value</div>" +
                              "<div class='p-3 bg-light text-dark rounded col-md-3'>" + "€ " + "{:,}".format(material_value_dict[i]["Value"]) + '&euro;' + "</div>" +
                              "</div>"

       carddiv.appendChild(card_header)
       carddiv.appendChild(card_body)
       upperdiv.appendChild(carddiv)

       divToAppend.appendChild(upperdiv)

        if (i==0) {
          var divToAppend_graph = document.getElementById("graph2_body");

          var graph_upper_div = document.createElement("div")
          //graph_upper_div.className = "col-md-12"

          var graph_card_div = document.createElement("div")
          graph_card_div.className  = "card"
          graph_card_div.style = "margin-bottom:4px; margin-top: 4px"

          var graph_card_header = document.createElement("div")
          graph_card_header.className = "card-header"
          graph_card_header.innerHTML = "<h6> Material Value Estimation </h6>"

          var graph_card_body = document.createElement("div")
          graph_card_body.className = "card-body mb-0"
          graph_card_body.innerHTML = "<canvas id='pieChart2' style='height: 250px'></canvas>"

          graph_card_div.appendChild(graph_card_header)
          graph_card_div.appendChild(graph_card_body)
          graph_upper_div.appendChild(graph_card_div)

          divToAppend_graph.appendChild(graph_upper_div)

           //Pie2
          var ctxP2 = document.getElementById("pieChart2").getContext('2d');
          var myPieChart2 = new Chart(ctxP2, {
            type: 'pie',
            data: {
            labels: ["Steel", "Copper", "Concrete", "Timber", "Glass", "Polystyrene"],
            datasets: [{
            data: [{{ material_value_dict[0]["Value"]}}, {{ material_value_dict[1]["Value"]}}, {{ material_value_dict[2]["Value"]}}, {{ material_value_dict[3]["Value"]}}, {{ material_value_dict[4]["Value"]}}, {{ material_value_dict[5]["Value"]}}],
            backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#38b72f"],
            hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "#3fcc35"]
              }]
            },
          options: {
          responsive: true
          }
          });

          } // For the if statement

      }
    };
    </script>

    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">Estimated Values</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form action="" method="post">

              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link btn-rotate">
                  <i class="nc-icon nc-settings-gear-65"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <!-- <div class="panel-header panel-header-lg">

  <canvas id="bigDashboardChart"></canvas>


</div> -->
   <div class="content">
        <div class="row">
          <div class="col-md-7">
            <div class="MultiProgress">
                <ul id="multiStep">
                  <li class="active">Building adress</li>
                  <li class="active">Building validation</li>
                  <li class="active">Your estimation</li>
                </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card ">
              <div class="card-header">
                <h6 class="card-title mb-0">Summary</h6>
                </div>
                  <div class="card-body ">

							  <div class="row">
    									      <div class="p-3 col-md-3" style="background-color: #e3e3e3; color: #66615B">Total Estimated Value</div>

											  <div class="p-3 bg-light text-dark rounded col-md-9"> <strong>€{{ total_value | round(2, 'common') }}</strong></div>
    									    <!-- <input type="text" class="form-control form-rounded" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value= {{ total_value }} readonly> //-->
							   </div>

							   <div class="row" style="margin-top:10px">
    									      <div class="p-3 col-md-3" style="background-color: #e3e3e3; color: #66615B">Building-year</div>

											  <div class="p-3 bg-light text-dark rounded col-md-3">{{ building_year }}</div>

											  <div class="p-3 col-md-3" style="background-color: #e3e3e3; color: #66615B">Building Functionality</div>
											  <div class="p-3 bg-light text-dark rounded col-md-3">{{ functionality }}</div>
    									    <!-- <input type="text" class="form-control form-rounded" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value= {{ total_value }} readonly> //-->
							   </div>

							   <div class="row" style="margin-top:10px">
    									      <div class="p-3 col-md-3" style="background-color: #e3e3e3; color: #66615B">Square Meters</div>

											  <div class="p-3 bg-light text-dark rounded col-md-3">{{ square_meters }}</div>

											  <div class="p-3 col-md-3" style="background-color: #e3e3e3; color: #66615B">Number of Floors</div>
											  <div class="p-3 bg-light text-dark rounded col-md-3">{{ number_floors }}</div>
    									    <!-- <input type="text" class="form-control form-rounded" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value= {{ total_value }} readonly> //-->
							   </div>


                  </div>
                </div>
              </div>


			  <div class="col-md-4">
          <div class="card">
            <div class="card-header ">
              <h6 class="card-title mb-0">Material Quantity Estimation</h6>
            </div>
						 <div class="card-body ">
							<canvas id="pieChart" style="height: 250px"></canvas>
						 </div>
					</div>
				</div>
      </div>


      <div class="row">
          <div class="col-md-8" id = "material_estim_body">
              <!-- Here the material rows are dynamically added //-->
          </div>
          <div class="col-md-4" id = "graph2_body">
              <!-- Here the second graph comes //-->
          </div>
      </div>



	  </div>

      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li>
                  <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </footer>
    </div>

  <!-- Chart JS -->
  <!-- THIS ONE IS NECESSARY. DO NOT REMOVE //-->
  <script src="/static/Front_end/Dashboard/assets/js/plugins/chartjs.min.js"></script>
  <script>
    //pie
    var ctxP = document.getElementById("pieChart").getContext('2d');
    var myPieChart = new Chart(ctxP, {
      type: 'pie',
      data: {
        labels: ["Steel", "Copper", "Concrete", "Timber", "Glass", "Polystyrene"],
        datasets: [{
          data: [{{ material_value_dict[0]["Quantity"]}}, {{ material_value_dict[1]["Quantity"]}}, {{ material_value_dict[2]["Quantity"]}}, {{ material_value_dict[3]["Quantity"]}}, {{ material_value_dict[4]["Quantity"]}}, {{ material_value_dict[5]["Quantity"]}}],
          backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#38b72f"],
          hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "#3fcc35"]
        }]
      },
      options: {
        responsive: true
      }
    });

   </script>
{% endblock %}
